/* Import */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fredoka+One&family=Grape+Nuts&family=Open+Sans:wght@400;800&family=Permanent+Marker&family=VT323&display=swap');

/* General */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', 'Helvetica', sans-serif;
    font-size: 1.1em;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0 30px;
}

/* Main */

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding:20px;
    text-align: center;
}

#select-game-mode, #section-player-one-name, #section-player-two-name {
    background-color: #f9f9f9;
    width:768px;
    min-height: 300px;
    border:1px solid #ccc;
    border-radius: 10px;
    padding:20px 0;
    margin-top:20px;
}

/* Table */

table {
    margin-top:20px;
}

.collapse {
    border-collapse: collapse;
}

table td {
    height:150px;
    max-height: 150px;
    width: 150px;
    max-width: 150px;
    cursor: pointer;
}

table td:hover {
    background-color: #eee;
}

table td:active {
    background-color: #ccc;
}

.middle {
    border-top:4px solid black;
    border-bottom:4px solid black;
}

td:nth-of-type(3n), td:nth-of-type(3n+2) {
    border-left:4px solid black;
}

/* Forms */

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size:1.2em;
}

/* Inputs */

input {
    font-family: 'Open Sans', sans-serif;
    padding:4px;
    margin: 0 12px;
    font-size: 1.2em;
}

/* Buttons */

button {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.button-enter-name, .button-reset-game {
    border: none;
    border-radius: 5px;
    padding:15px 16px;
    color:white;
    box-shadow: 0 2px 5px -2px black;
}

.button-enter-name {
    background-color: rgb(0, 180, 40);
}

.button-reset-game {
    background-color: rgb(125, 125, 125);
}

.button-enter-name:hover, .button-reset-game:hover {
    cursor: pointer;
    transition: background-color 200ms ease-in;
    box-shadow: none;
    transition: box-shadow 200ms ease-in;

}

.button-enter-name:hover {
    background-color: rgb(20, 220, 10);
}

.button-reset-game:hover {
    background-color: rgb(175, 175, 175);
}

.button-enter-name:active {
    background-color: rgb(0, 180, 40);
    color:#00132c
}

.button-reset-game:active {
    background-color: rgb(125, 125, 125);
    color: #00132c;
}

.button-player-select {
    border:none;
    border-radius: 5px;
    padding:15px 12px;
    margin-top: 15px;
    position: relative;
    color: white;
    box-shadow: 0 2px 5px -2px black;
}

.button-player-select::before {
    position: absolute;
    left: -7px;
    bottom:-6px;
    content: "";
    transition: background-color 300ms ease-in;
    width: 100%;
    height: calc(100% + 2px);
}

.button-player-select:hover {
    cursor: pointer;
    transform: rotate(-3deg);
    transition: background-color 200ms ease-in;
    box-shadow: none;
}

.button-player-select:hover::before {
    background-color:transparent;
    border: 1px solid;
    border-radius: 5px;
}

.button-player-select:active {
    transition: none;
    color: #00132C;
}

.button-blue {
    background-color:rgb(0, 50, 225);
}

.button-blue:hover {
    background-color:rgb(15, 160, 250);
}

.button-blue:hover::before {
    border:1px solid rgb(0, 50, 225);
}

.button-blue:active {
    background-color: rgb(0, 50, 225);
}

.button-red {
    background-color:rgb(225, 20, 30);
}

.button-red:hover {
    background-color: rgb(250, 10, 140);
}
.button-red:hover::before {
    border:1px solid rgb(225, 20, 30)
}

.button-red:active {
    background-color: rgb(225, 20, 30);
}

/* Spans */

#section-player-hints {
    background-color: #f9f9f9;
    border:1px solid #ccc;
    border-radius:10px;
    width: 600px;
    margin:20px 0;
}

/* Footer */

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin:0 auto;
    bottom:0;
    border-top:1px solid black;
    padding:20px 0;
    font-size:.8em;
}

/* Fonts */

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 5em;
    letter-spacing: 10px;
    line-height: 50px;
}

h2 {
    font-size:2em;
}

h4 {
    font-size:1.5em;
    font-weight: 300;
}

#select-game-mode h4:first-of-type {
    margin-top:40px;
}

#select-game-mode button:first-of-type {
    margin-bottom:30px;
}

p {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

span p {
    padding:12px 20px;
    line-height: 25px;
}

.robot-text {
    font-family: 'VT323', monospace;
    color:gray;
    font-size:5em;
}

.player-one-text {
    font-family: 'Permanent Marker', sans-serif;
    font-size:3em;
    color:blue;
}

.player-two-text {
    font-family: 'Grape Nuts', cursive;
    font-size:5em;
    color:red;
}

/* JS */

.hide {
    display:none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */

/* Small Screen */

@media screen and (max-width:800px) {
    #select-game-mode, #section-player-one-name, #section-player-two-name {
        width:100%;
        min-height: 300px;
        border:1px solid #ccc;
        border-radius: 10px;
        padding:20px 0;
        margin-top:10px;
    }

    #section-player-hints {
        width: 100%;
    }
    
    /* Forms */

    label {
        font-size:1em;
    }

    /* Inputs */

    input {
        font-family: 'Open Sans', sans-serif;
        padding:4px;
        margin: 0 10px;
        font-size: 1em;
    }
    
    /* Buttons */

    .button-enter-name {
        padding:14px 10px;
    }

    /* Header */

    header {
        padding:20px 5px;
    }

    h1 {
        font-size:12vw;
    }
}